.wrapper {
    --darkGrey: rgba(39, 39, 42, 50%);
    --lightGrey: rgba(39, 39, 42, 25%);
    --fontSize14: 14px;
    --fontSize12: 12px;
}

.description {
    margin-top: 25px;
    margin-bottom: 15px;
    color: var(--darkGrey);
    font-size: var(--fontSize14);
}

.selectAll {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    .title {
        margin-right: 10px;
    }
}

.above18{
    margin-top: 25px;

    .checkBoxArea{
        display: flex;
        align-items: center;
    }

    .explanation{
        margin-top: 15px;
        color: var(--darkGrey);
        margin-left: 25px;
    }
}