.wrapper {
    --darkGrey: rgba(39, 39, 42, 50%);
    --lightGrey: rgba(39, 39, 42, 25%);
    --shopifyGreen: rgb(0, 128, 96);
    --textSize: 14px;
}

.video {
    margin-top: 25px;

    .customInputVideo {
        display: block;
        margin-top: 5px;
        padding: 11px 20px;
        width: 220px;
        height: 85px;
        border-radius: 5px;
        border: 1px solid var(--lightGrey);
        cursor: pointer;

        .title {
            margin-left: 10px;
        }

        .description{
            margin-top: 15px;
            color: var(--darkGrey)
        }

        .inputVideo {
            display: none;
        }
    }
}

.previewVideo {
    margin-top: 25px;
    
    .videosUpload {
        margin-top: 5px;
        border: 1px solid var(--darkGrey);
        border-radius: 4px;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
    }
}

.toggle{
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    color: var(--shopifyGreen);

    .title {
        margin-left: 5px;
    }
}

.advancedSetting {

    .displayName{
        margin-top: 15px;

        .inputName {
            margin-top: 5px;
            width: 75%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--lightGrey);
            outline: none;
        }
    }

    .profileImage {
        margin-top: 15px;

        .customInputProfile {
            margin-top: 5px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px dashed var(--lightGrey);
            cursor: pointer;
        }

        .inputProfile {
            display: none;
        }
    }
}

.creativeText {
    margin-top: 15px;
    width: 500px;
}
