.wrapper {
    --darkGrey: rgba(39, 39, 42, 50%);
    --lightGrey: rgba(39, 39, 42, 25%);
    --textSize: 14px;
    
}

.name {
    margin: 10px 0 2px 0;
    width: 400px;
}

.type{
    display: flex;
    align-items: center;
}

.description{
    margin-bottom: 10px;
    color: var(--darkGrey);
}

.typeConversion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    width: 345px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--lightGrey);
    color: var(--lightGrey);
    padding: 0 10px;
    font-size: var(--textSize);
    background-color: rgb(250, 250, 250);
    cursor: not-allowed;
}
